wheel
bleach
Django
django-cors-headers
django-debug-toolbar
django-filter
django-graphiql-debug-toolbar
django-mptt
django-pglocks
django-prometheus
django-redis
django-rich
django-rq
django-taggit
django-tables2
django-timezone-field
djangorestframework
drf-spectacular
drf-spectacular-sidecar
feedparser
graphene-django
gunicorn
Jinja2
Markdown
#mkdocs-material==9.5.18
#mkdocstrings[python-legacy]==0.24.3
#mkdocstrings[python-legacy]
netaddr
Pillow
psycopg[binary,pool]
PyYAML
requests
social-auth-app-django
social-auth-core[openidconnect]
svgwrite
tablib
tzdata
