--- 
# Debug variable
# Examples to run
# ansible-playbook playbooks/debug.yaml
# ansible-playbook playbooks/debug.yaml -e production=true

- name: Debugging first play
  hosts: local
  gather_facts: false
  vars:
    release_yaml: &release_yaml "{{ inventory_dir }}/src/releases/release.yaml"
  vars_files: &vars_files
    - "{{ release_yaml }}"
  tasks:
    - name: Display netbox version 
      ansible.builtin.debug:
        msg: "{{ version }}"

- name: Debugging second play  
  hosts: local 
  gather_facts: false
  vars:
    release_yaml: *release_yaml
  vars_files: *vars_files
  tasks:
    - name: Display netbox version 
      ansible.builtin.debug:
        msg: "{{ version }}"

- name: Define global variables
  hosts: localhost
  gather_facts: false
  tags: global
  vars:
    production: false
    sql_inventory_pass: &sql_inventory_pass "{{ vault_sql_inventory_pass }}" # password for network_inventory database user
    allowed_network: &allowed_network "{{ vault_allowed_network }}" # Admins network set in vault
  tasks:
    - name: Set server 
      set_fact:
        server: "{{ 'hs_netbox' if  production else 'local' }}"

    - name: "Running install on: "
      debug:
        msg: "{{ server }}"

    - name: "Is it a production server?"
      debug:
        msg: "{{ production }}"

- name: Debug PostgreSQL variables
  hosts: "{{ hostvars['localhost']['server'] }}"
  gather_facts: false
  vars:
    allowed_network: *allowed_network
    sql_inventory_pass: *sql_inventory_pass
  tasks:
    - name: "SQL inventory password"
      debug:
        msg: "{{ sql_inventory_pass }}"
    - name: "Allowed networks"
      debug:
        msg: "{{ allowed_network }}"
    
- name: Get some remote server variables
  hosts: "{{ hostvars['localhost']['server'] }}"
  gather_facts: false
  tasks:
    - name: Read /etc/os-release to get Debian version codename
      shell: ". /etc/os-release && echo $VERSION_CODENAME"
      register: version_codename

    - name: Save Debian codename to a variable
      set_fact:
        debian_codename: "{{ version_codename.stdout }}"

    - name: Show what we captured
      debug:
        msg: "Debian release is {{ debian_codename }}"
      
- name: Debug deprecated variables
  hosts: "{{ hostvars['localhost']['server'] }}"
  gather_facts: true
  tasks: 
    - name: Depricated 'ansible_' vars
      debug:
        msg: "ansible_date_time.date: {{ ansible_date_time.date }}"

    - name: ansible_facts.date_time.date variable
      debug:
        msg: "{{ ansible_facts.date_time.date }}"

    - name: ansible_env.PATH variable
      debug:
        msg: "{{ ansible_facts.env.PATH }}"

- name: Run only when on development server 
  hosts: "{{ hostvars['localhost']['server'] }}"
  gather_facts: false
  vars:
    production: false
  pre_tasks:
    - name: Don't run play on a production server
      meta: end_play
      when: production | bool
  tasks:
    - name: Development server
      debug:
        msg: "Server {{ hostvars.localhost.server }}"

- name: Run only when on production server 
  hosts: "{{ hostvars['localhost']['server'] }}"
  gather_facts: false
  vars:
    production: false
  pre_tasks:
    - name: Don't run play not on a production server
      meta: end_play
      when: not production | bool
  tasks:
    - name: Production server
      debug:
        msg: "Server {{ hostvars.localhost.server }}"
      when: production | bool