---
# Install/update pgAdmin 4 on a Debian Linux server
#
# RUN
# - development server
#   ansible-playbook playbooks/pgadmin_install.yaml
#
# - production server
#    ansible-playbook playbooks/pgadmin_install.yaml -e production=true

- name: Define global variables
  hosts: localhost
  gather_facts: false
  tags: global
  vars: 
    production: false
  tasks:
    - name: Set server 
      set_fact:
        server: "{{ 'hs_netbox' if  production else 'local' }}"

    - name: "Running install on: "
      debug:
        msg: "{{ server }}"

    - name: "Is it a production server?"
      debug:
        msg: "{{ production }}"

- name: Install and pgAdmin 4
  hosts: "{{ hostvars['localhost']['server'] }}"
  gather_facts: false
  become: true # run as root
  tags: pgadmin
  vars: 
    production: false
    pgadmin_repo_key_url: https://www.pgadmin.org/static/packages_pgadmin_org.pub
    pgadmin_repo_key_dest: /usr/share/keyrings/packages-pgadmin-org.asc
  tasks:
    - name: Read /etc/os-release to get Debian version codename
      shell: ". /etc/os-release && echo $VERSION_CODENAME"
      register: version_codename

    - name: Save Debian codename to a variable
      set_fact:
        debian_codename: "{{ version_codename.stdout }}"

    - name: Show what we captured
      debug:
        msg: "Debian release is {{ debian_codename }}"

    - name: Add pgAdmin4 GPG key 
      ansible.builtin.get_url:
        url: "{{ pgadmin_repo_key_url }}"
        dest: "{{ pgadmin_repo_key_dest }}"
        mode: '0644'

    - name: Add pgAdmin4 repository
      ansible.builtin.apt_repository:
        repo: "deb [signed-by={{ pgadmin_repo_key_dest }}] https://ftp.postgresql.org/pub/pgadmin/pgadmin4/apt/{{ debian_codename }} pgadmin4 main"
        state: present
        filename: pgadmin4

    - name: apt install pgAdmin packages
      apt: 
        pkg: pgadmin4-web
        state: latest
        update_cache: true

    - name: Stop the Apache2 service
      ansible.builtin.service:
        name: apache2
        state: stopped
        enabled: no

    - name: Remove Apache2 packages (and associated dependencies that are no longer needed)
      ansible.builtin.apt:
        name: "{{ item }}"
        state: absent
        purge: yes
      loop: 
        - apache2
        - apache2-bin
        - apache2-utils
        - apache2-data
      register: remove_status

    - name: Clean up any remaining configuration files
      ansible.builtin.file:
        path: /etc/apache2
        state: absent
      when: remove_status is success

    - name: Restart the nginx service
      service: 
        name: nginx
        state: restarted
        enabled: yes