---
# Update NetBox version and required Python packages locally
#
# ansible-playbook playbooks/update_repository.yaml
#

- name: Download required files to localhost
  hosts: localhost
  gather_facts: false
  tags: global
  vars: 
    releases_dir: "{{ inventory_dir }}/src/releases"
    release_yaml: "{{ releases_dir }}/release.yaml"
    venv_path: "{{ inventory_dir }}/pip_packages" 
  
  tasks:
    - name: Get current release YAML file from the official git repository
      ansible.builtin.get_url:
        url: "https://raw.githubusercontent.com/netbox-community/netbox/refs/heads/main/netbox/release.yaml"
        dest: "{{ release_yaml }}"
      
    - name: Include variables from 'release.yaml' into 'release' dictionary
      ansible.builtin.include_vars:
        file: "{{ release_yaml }}"
        name: release

    - name: Set the new 'requirements.txt' file path
      ansible.builtin.set_fact:
        requirements_txt: "{{ releases_dir }}/requirements-{{ release.version }}.txt"

    - name: Get the new NetBox release
      ansible.builtin.get_url:
        url: "https://github.com/netbox-community/netbox/archive/refs/tags/v{{ release.version }}.tar.gz"
        dest: "{{ releases_dir }}"

    - name: Get the new 'requirements.txt'
      ansible.builtin.get_url:
        url: "https://raw.githubusercontent.com/netbox-community/netbox/refs/heads/main/requirements.txt"
        dest: "{{ requirements_txt }}"

    - name: Append dependencies and plugins to the requirements file
      ansible.builtin.blockinfile:
        path: "{{ requirements_txt }}"
        block: |
          setuptools
          setuptools==80.3.1
          wheel
          netbox-documents
          netbox-plugin-dns
          netbox-reorder-rack
          netbox-topology-views
          netbox-inventory
        insertafter: EOF

    - name: Remove existing virtual environment folder
      ansible.builtin.file: 
        path: "{{ venv_path }}"
        state: absent 

    - name: Create a new virtual environment
      ansible.builtin.shell:
        cmd: "python3.13 -m venv {{ venv_path }}"
        executable: /usr/bin/bash

    - name: Download required packages
      ansible.builtin.shell:
        cmd: "source bin/activate && pip download -r {{ requirements_txt }} -d packages"
        executable: /usr/bin/bash
        chdir: "{{ venv_path }}"
... 