[defaults]
inventory = hosts.ini
host_key_checking = False

forks = 50
pipelining = True

;;stdout_callback = yaml
result_format = yaml
gathering = explicit
retry_files_enabled = False

vault_password_file = ~/.ssh/vault_pass