[Unit]
Description=pgAdmin4
After=network.target

[Service]
Type=simple
User={{ pgadmin_user }}
Group={{ pgadmin_user }}
WorkingDirectory={{ pgadmin_workdir }}
Environment="PYTHONPATH={{ pgadmin_workdir }}"
ExecStart={{ pgadmin_venv_path }} {{ pgadmin_workdir }}/pgAdmin4.py
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target