[defaults]
inventory = hosts.ini
host_key_checking = False
timeout = 5

forks = 50 
pipelining = True

callback_result_format = yaml
display_args_to_stdout = False
gathering = explicit
retry_files_enabled = False

vault_password_file = ~/.ssh/vault_pass

[paramiko_connection]
record_host_keys = False

[persistent_connection]
connect_timeout = 60
command_timeout = 60